*
{
  font-size:20px;
  font-weight: bold;
}

.main
{

  display: grid;
  /* border: 2px black solid; */
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  margin: 1%;
  padding:1%;
  margin-left:50px ;
}

.left

{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 30px;
}

textarea
{
  resize: vertical;
}

.asd

{
display: flex;
border: 1px black solid;
/* border-radius: 5px; */
border-radius: 5px;
/* flex-direction: ; */
/* justify-content: ; */
width: 80%;
}

button
{background-color: white;
/* border: none; */
border-radius: 5px;
margin-right: 5px;
}

.kl
{
border: none;
margin-left: 20px;
}

/* slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

img
{
  width: 10px;
  height: 10px;
}


.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.right
{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: flex-start;
gap: 20px;

}


